* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-seri;
}

.btn {
  border: none;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 15px;
  border-radius: 4px;
  background-color: #fd6e0a;
  color: white;
}
.btn-n {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 4px;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
}
/* Navbar */
.header-content {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
  padding-top: 50px;
}
.nav {
  margin: 0px 238px 0 230px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav p {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
.nav p span {
  color: #fd6e0a;
}

.list-item {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
  color: #474747;
  align-items: center;
}
/* Banner Section */
.section-container {
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  max-width: 585px;
  gap: 20px;
}
.content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.content h1 {
  font-size: 85px;
  font-weight: 800;
  color: #181818;
}

.content p {
  color: #757575;
  line-height: 30px;
}
.bnt {
  display: flex;
  gap: 20px;
}
.section-container img {
  max-width: 585px;
  vertical-align: middle;
}
